.fw-b {
    font-weight: bold;
}

.ml-10 {
    margin-left: 10px;
}

.current-status {
    &__container {
        background-color: #f7f7fa;
        padding: 10px 20px;
    }
    &__header {
        margin-left: -12px;
        margin-right: -12px;
    }
    &__nav-bar {
        list-style: none;
        margin: 0;
        &-item {
            display: inline-block;
            margin-left: 29px;
            &:first-child {
                margin-left: 0;
            }
            padding: 2px 12px;
            a {
                font-size: 14px;
                color: #4a4b57;
                line-height: 21px;
            }
            &.current-status__nav-bar-item--active {
                border-bottom: 2px solid #00fc8f;
            }
        }
    }

    .aircraft-profile {
        margin-left: -12px;
        margin-right: -12px;
        &__header {
            box-shadow: 0px 2px 4px rgba(58, 58, 68, 0.1), 0px 4px 8px rgba(90, 91, 106, 0.1);
            &-wrapper {
                padding: 10px 20px;
            }
        }
        &__heading {
            margin: 0;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }
        &__menu {
            list-style: none;
            padding: 0;
            margin: 0;
            &-item {
                display: inline-block;
                padding: 8px 16px;
                box-shadow: 0px 2px 4px rgba(58, 58, 68, 0.1), 0px 4px 8px rgba(90, 91, 106, 0.1);
                &-item:first-child {
                    margin-left: 0;
                }
                a {
                    color: #00fc8f;
                    padding: 8px 16px;
                    display: block;
                    text-decoration: none;
                    &:hover {
                        color: #00fc8f;
                    }
                }
            }
        }
        &__detail {
            background-color: #f7f7fa;
            &-wrapper {
                padding: 24px 20px 16px;
                table {
                    border-collapse: unset;
                }
            }
            &-list {
                position: relative;
                padding: 0 0 0 10px;
                min-width: 320px;
                min-height: 110px;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 2px;
                    height: 90%;
                    left: 0;
                    top: 10px;
                    background-color: #e1e1e3;
                }
                tr {
                    td:first-child {
                        color: #5a5b6a;
                        font-size: 14px;
                    }
                    td:last-child {
                        color: #0a1a29;
                        font-size: 14px;
                    }
                }
            }
            &-item {
                margin-bottom: 16px;
                :last-child {
                    margin-bottom: 0;
                }
                p {
                    margin: 0;
                    color: #5a5b6a;
                    font-size: 14px;
                }
                span {
                    color: #0a1a29;
                    font-size: 14px;
                }
            }
        }
        &__project-teams {
            margin-bottom: 118px;
            &-wrapper {
                padding: 20px;
            }
            &-heading {
                font-size: 20px;
                line-height: 20px;
                margin: 0 0 10px 0;
            }
            .aircraft-profile {
                &__table {
                    &-group {
                        height: 500px;
                        flex-basis: calc((100% - 42px) / 3);
                        margin-right: 21px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    &-flydocs-user {
                        table {
                            width: 100%;
                            tr {
                                &:nth-child(even) {
                                    background-color: #f7f7fa;
                                }
                                &:hover {
                                    cursor: pointer;
                                    background-color: #ccffcc;
                                }
                            }
                            td,
                            th {
                                border-bottom: 1px solid #d2d2d6;
                                padding: 10px;
                                font-size: 12px;
                                &:first-child {
                                    font-weight: 600;
                                }
                            }
                            td:nth-child(2) {
                                color: #5a5b6a;
                            }
                        }
                    }
                    &-third-party,
                    &-main-client {
                        table {
                            width: 100%;
                            tr {
                                &:hover {
                                    cursor: pointer;
                                    background-color: #ccffcc;
                                }
                                background-color: #F7F7FA;
                            }
                            tr:first-child {
                                background-color: #fff;
                            }
                            .row-bg {
                                background-color: #fff;
                                td:nth-child(2) {
                                    color: #5a5b6a;
                                }
                            }
                            td,
                            th {
                                border-bottom: 1px solid #d2d2d6;
                                padding: 10px;
                                font-size: 12px;
                            }
                            td {
                                &.indent-left-20 {
                                    padding-left: 20px;
                                }
                                &.indent-left-28 {
                                    padding-left: 28px;
                                }
                                &.indent-left-36 {
                                    padding-left: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
